### 1.  정수 선언

In [31]:
# 정수 형 타입 선언
num1 = 10
num2 = 20

In [19]:
num1 = num2

In [18]:
num  = -10
num

-10

### 2. 실수형

In [26]:
num1 = 10.5
num1

10.5

In [27]:
num2 = -10.77
num2

-10.77

### 연산자

In [28]:
# + , -, * , /,  %, **, //

In [30]:
num1 = 10
num2 = 20
print(num1 + num2, num1 - num2 , num1* num2, num1/num2, num1%num2,num1**2, num1//num2)

30 -10 200 0.5 10 100 0