In [9]:
f = open("test.txt",'w')
for i in range(1,5):
    data = "%d 번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [11]:
f = open('test.txt', 'r')
while True:
    line = f.readline()
    if not line : break
    print(line)
f.close()

In [15]:
f = open('test.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1 번째 줄입니다.

2 번째 줄입니다.

3 번째 줄입니다.

4 번째 줄입니다.

In [18]:
with open('foo.txt','w') as f:
    for i in range(1,5):
        data = "%d 번째 줄입니다.\n" % i
        f.write(data)

In [19]:
import pandas as pd

In [30]:
df = pd.read_csv('test.csv')

In [31]:
df[['col1','col2']].to_csv('test_part.csv')

In [33]:
pd.read_csv('test.csv', usecols=lambda x: x.lower() 
            in ['col1', 'col2'])

  col1 col2
0    a    b
1    a    b
2    c    d

In [35]:
pd.read_csv('test.csv', skiprows=lambda x: x % 2 != 0)

  col1 col2  col2.1
0    a    b       2

In [40]:
pd.read_csv('test2.csv', encoding='utf-8')

  name  math  kor
0  김현철    90   70
1  박미경    80   80
2  조수미    70   90