In [3]:
A  = 10
A

10

In [2]:
10

10

In [4]:
A_ = 100
A_

100

In [8]:
A123 = 20
B = 3.4

In [9]:
A123 = "Monday"

In [10]:
[] , {}, ()

([], {}, ())

In [12]:
#공간 :   변수, 함수

In [13]:
a = [2,3,4,5]

In [14]:
len(a)

4

In [15]:
len_A = 100

In [16]:
B = len_A
C = len(a)

In [18]:
A = [1,2,3,4,3]
B = {2,1,2,2,4}
C = (1,2,3,4, 5,5)
A,B,C

([1, 2, 3, 4, 3], {1, 2, 4}, (1, 2, 3, 4, 5, 5))

In [22]:
#set(A)
#tuple(A)
list(B)
#dict()

[1, 2, 4]

In [24]:
listB = list(B)

In [25]:
A = 10 
B = 20
A + B, A * B, A /B, A -B, A ** 2, A % B, A // B

(30, 200, 0.5, -10, 100, 10, 0)

In [26]:
A = 10.3 
B = 20.4
A + B, A * B, A /B, A -B, A ** 2, A % B, A // B

(30.7,
 210.12,
 0.5049019607843138,
 -10.099999999999998,
 106.09000000000002,
 10.3,
 0.0)

In [27]:
A, B = 10, 20

In [28]:
A, B

(10, 20)

### 2 . 문자열

In [29]:
strA = "Life is the short, You need Python"

In [30]:
'', "", """ """, ''' '''
#asdlfajsdlfalfjalfjasfjlasf
#asdfadfasdf

('', '', ' ', ' ')

In [31]:
"{0} + {1} = {2}".format(1,2,3)

'1 + 2 = 3'

In [33]:
"%d %s %.2f" % (2, "+", 3.2)

'2 + 3.20'

In [34]:
age, name = 30, "홍길동"

In [36]:
f'나이 이름 {name}, 나이는 {age}'

'나이 이름 홍길동, 나이는 30'

In [37]:
f'{age+1}'

'31'

In [38]:
a = 'hobby'()

In [39]:
a.count('b'), a.find('b'), a.find('k')

(2, 2, -1)

In [40]:
','.join('abcd')

'a,b,c,d'

In [41]:
','.join(a)

'h,o,b,b,y'

In [45]:
a.upper().lower().count('h') +2

3

In [46]:
a = ' hi '

In [49]:
' hi '.lstrip().strip()

'hi'

In [51]:
a.rstrip().strip()

'hi'

In [52]:
a.strip()

'hi'

In [53]:
a = "Life is too short"

In [57]:
a.replace("star", "Your leg")

'Life is too short'

In [55]:
a

'Life is too short'

In [59]:
type(a.split())

list

In [60]:
b = 'a:b:c:d'

In [61]:
b.split(':')

['a', 'b', 'c', 'd']