In [1]:
dic = {}
s1 = {1,2,3,4,1,2,4,3,5}

In [7]:
dic = {'name':'pey', 'phone':"01023456789", 'birth':'1009', 'name':'rey'}

In [8]:
dic

{'name': 'rey', 'phone': '01023456789', 'birth': '1009'}

In [14]:
list(s1)

[1, 2, 3, 4]

In [18]:
dic['phone']

str

In [19]:
a = {'a':[1,2,3]}

In [20]:
b = {1: 'hi'}

In [22]:
a['a'], b[1]

([1, 2, 3], 'hi')

In [23]:
a = {1:'a', 2:'b'}

In [28]:
a[1] = 'coffee'
a

{1: 'coffee', 2: 'b'}

In [29]:
a['name'] = 'kim'
a

{1: 'coffee', 2: 'b', 'name': 'kim'}

In [30]:
del a[1]

In [33]:
del a['name']

In [34]:
a

{2: 'b'}

In [35]:
a = {}

In [36]:
a['name'] ="pey"
a['phone'] ="01199933322"
a['birth'] ='1119'

In [37]:
a

{'name': 'pey', 'phone': '01199933322', 'birth': '1119'}

In [45]:
a['name'] = 'key'

In [48]:
a.keys(), a.values(), a.items()

(dict_keys(['name', 'phone', 'birth']),
 dict_values(['key', '01199933322', '1119']),
 dict_items([('name', 'key'), ('phone', '01199933322'), ('birth', '1119')]))

In [51]:
('name' in a)

True

In [53]:
import pandas as pd
import seaborn as sns

In [54]:
tips = sns.load_dataset("tips")

In [55]:
type(tips)

pandas.core.frame.DataFrame

In [57]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [63]:
 tips['total_bill'][1:4]

1    10.34
2    21.01
3    23.68
Name: total_bill, dtype: float64

In [65]:
tips[1:4]['time']

1    Dinner
2    Dinner
3    Dinner
Name: time, dtype: category
Categories (2, object): [Lunch, Dinner]

In [66]:
tips.to_csv('test.csv')